* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************
* Selettori TAG / layout
************************************************/
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

main{ background-color:aqua;
      height: calc(100vh - 50px);
      flex-grow: 1;
      display: flex;
      }


aside{ background-color: black;
      min-width: 90px;
      height: calc(100vh - 50px);
      flex-grow: 0;
      flex-shrink: 1;
      justify-content: space-between;
      z-index: 100;}

.conteiner { background-color: rgb(20, 25, 34);
             flex-grow: 1;
             overflow: auto;
             
             }

footer {background-color: rgb(40, 40, 40);
        min-height: 50px;
        flex-grow: 0;
        z-index: 10;}

.aside-nav { display: flex;
             flex-direction: column;
             padding: 10px 0 10px 10px;
            }

.aside-nav-sup {flex-shrink: 1;}

.aside-nav-central {flex-grow: 1;
                    flex-shrink: 0;
                    }

.aside-nav-sub { padding-top: 20px;
                  flex-shrink: 1; } 



/************************************************
* Classi Conteiner
************************************************/
.conteiner-top { background-color: rgba(8,11,18, 0.3);
                padding: 24px 7px;
                text-align: right;
                font-size: 12px;
                position: fixed;
                top: 0;
                width: 100%;
                right:0;
                z-index: 99;
              } 


.conteiner-top-btn-right span {border: 1px solid white;
                               padding: 14px 40px;
                               border-radius: 25px;
                               color:white;
                               }

.conteiner-nav { padding-top:65px;
                 text-align: center; 
                 font-size: 11px;
                 font-weight: bold;
                 }


.conteiner-nav ul { list-style-type: none; }

.conteiner-nav ul li { display: inline-block;
                       padding: 20px 3px;}

.conteiner-nav ul li a {  text-decoration: none;
                          color:rgb(117, 119, 124);
                          position: relative;}

                        

.line-green:after { content: "";
                    width: 22px;
                    height: 2px;
                    background-color: lawngreen;
                    position: absolute;
                    bottom: 0;
                    left:5px;
                    display: none;}


.conteiner h2 { color:white;
                padding: 20px 0;
                }

.conteiner h4 { color:rgb(125, 127, 132);
                padding: 20px 0;
                  }

.Albums-Recently,
.Creato-to-John-Doe,
.Artisti-Popolari { padding: 0 20px;}



.Albums-row {display: flex;
             flex-wrap: wrap;
             gap:15px; 
              }


.Album   {display: flex;
          flex-direction: column;
          align-items: center;}


.Album-img img  {  object-fit: cover;
                   width:100%; 
                }

.circle {border-radius: 100%;
        overflow:hidden;}

.Album .Title { color:white;
                font-weight: bold;
                padding: 10px 0;
                font-size: 12px;}


.Album .Sub-Title { font-size:10px;
                    color:rgb(125, 127, 132);
                    padding-bottom: 10px;
                     }


/************************************************
* Classi aside
************************************************/

.aside-logo img{ width: 70%;}


.home-list { padding: 15px 0;}

.home-list ul li a img {width: 14%;
                        color: rgb(210, 210, 210);
                        vertical-align:middle;
                        padding-right: 5px;
                        padding-bottom: 10px;}


.home-list ul { list-style-type: none; }

.home-list ul li a {text-decoration: none;
                    color:rgb(117, 119, 124);
                    font-weight: bold;
                    font-size: 12px;
                    }                       

.lateraLine-green:before { content: "";
                           height: 30px;
                           width: 3px;
                           background-color: lawngreen;
                           position: absolute;
                           left: -1px;
                           display: none;}



/* Aside ccentral */

aside h3 {color:white;
          padding-bottom:15px}


.aside-nav-central .aside-nav-central-top a { text-decoration: none;
                                              color: rgb(117, 119, 124);
                                              text-decoration: none;
                                              font-weight: bold;
                                              font-size: 12px;}

.aside-nav-central {max-height: 200px;
                    padding-bottom: 10px;
                 }




.aside-nav-central .aside-nav-central-top a span {padding-left: 5px;                                             
                                                  font-size: 16px;
                                                 line-height: 30px;}
                                                 
                                                 
                                                 
.aside-nav-central-top .add-list{ display: inline-flex;}

.aside-nav-central-top .plus {color: black;
                             text-align: center;
                             font-size: 40px;
                             line-height: 30px;
                             background-color: grey;
                             width: 30px; 
                             height: 30px;
                             }
                                               
.aside-nav-central-list {max-height: 100px;
                         overflow: auto;}

.aside-nav-central-list ul {list-style-type: none;}              

.aside-nav-central-list ul a {text-decoration: none;
                              color: rgb(117, 119, 124);
                              text-decoration: none;
                              font-weight: bold;
                              font-size: 12px;}


/* Aside inferiore */

.user-install a { color: rgb(117, 119, 124);
                 text-decoration: none;
                 font-weight: bold;
                 font-size: 12px;
                 padding-bottom: 10px;
                 border-bottom: 1px solid rgb(210, 210, 210);}

.user-install img { width: 10%;
                    vertical-align: middle;
                    padding-right: 5px;
                   }

.user-identity { padding-top: 20px;}

.user-identity img { width: 10%;
                     background-color: rgb(128,128,128);
                     border-radius: 100%;
                     vertical-align: middle;
                     padding: 1px;
                     }

.user-identity span { color:white;
                      font-weight: bold;
                      font-size: 12px;
                      padding-left: 5px;
}



/************************************************
* Classi hover
************************************************/


/* Tasto in alto upgrade */

.conteiner-nav ul li:hover .line-green:after{display: initial;}

/* NAV-BAR superiore */

.conteiner-nav ul li :hover  {color: white;}

.conteiner-top-btn-right span:hover {color:lawngreen;
                                     border-color: lawngreen;
                                     font-size: 14px;}
/* Aside list  */

.home-list ul li:hover .lateraLine-green:before{display: initial;}


.home-list ul li :hover,
.user-install a :hover   {color: white;}


/* Central play list */

.aside-nav-central-list ul a:hover {color: white;}


/* Add playlist */

.add-list a:hover {color: white;}




/************************************************
* media queries xs size
************************************************/

@media screen and (max-width: 559px) { 

aside { min-width: 50px;}

.d-xs-no { display: none;}

/* Ho il gap di 15px ne tolgo uno di 7.5*/
.Album {max-width: calc(100% / 2 - 7.5px );}

.aside-nav {padding: 10px, 0;}

.aside-nav-sup, .aside-nav-sub {text-align: center;}


.aside-logo .logo-small {display: initial;
                         width: 50%;}



.home-list ul li a img {width: 55%;}



.user-install img {width: 35%;
                   }

.user-identity img {width: 35%;
}

                
}



/************************************************
* media queries large size
************************************************/

@media screen and (min-width: 920px) { 

.Album {max-width: calc(100% / 6 - 15px );
} /* il gap è di 15px */


.aside-logo img{ width: 70%;}

.aside-logo .logo-small {display: none;}

}


/************************************************
* media queries large size PROVVISORIA PER LOGO
************************************************/

@media screen and (min-width: 560px) and (max-width: 919px) { 
  .aside-logo .logo-small {display: none;}

}