* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************
* Selettori TAG / layout
************************************************/
.shell {height: 100vh;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        overflow: hidden;
}

main{ height: calc(100% - 65px);
      flex-grow: 1;
      display: flex;
      }


aside{ background-color: black;
      min-width: 90px;
      flex-grow: 0;
      flex-shrink: 1;
      justify-content: space-between;
      z-index: 8;}

.conteiner { background-color: rgb(20, 25, 34);
             flex-grow: 1;
             overflow: auto;
             
             }

footer {background-color: rgb(40, 40, 40);
        min-height: 50px;
        flex-grow: 0;
        z-index: 10;}

.aside-nav { display: flex;
             flex-direction: column;
             padding: 10px 0 10px 15px;
            }

.aside-nav-central {flex-grow: 1;
                    height: 75%;}

.aside-nav-sub { padding-top: 20px;} 



/************************************************
* Classi Conteiner
************************************************/
.conteiner-top { background-color: rgba(8,11,18, 0.3);
                padding: 24px 7px;
                text-align: right;
                font-size: 12px;
                position: fixed;
                top: 0;
                width: 85% ;  /* per non coprire l'aside */
                right:0;
                z-index: 99;
              } 
.conteiner-top-btn-right { padding-right: 15px;}

.conteiner-top-btn-right span {border: 1px solid white;
                               padding: 14px 35px;
                               border-radius: 25px;
                               color:white;
                               }

.conteiner-nav { padding-top:65px;
                 text-align: center; 
                 font-size: 11px;
                 font-weight: bold;
                 }


.conteiner-nav ul { list-style-type: none; }

.conteiner-nav ul li { display: inline-block;
                       padding: 20px 3px;}

.conteiner-nav ul li a {  text-decoration: none;
                          color:rgb(117, 119, 124);
                          position: relative;}

                        

.line-green:after { content: "";
                    width: 22px;
                    height: 2px;
                    background-color: lawngreen;
                    position: absolute;
                    bottom: 0;
                    left:5px;
                    display: none;}


.conteiner h2 { color:white;
                padding: 20px 0;
                }

.conteiner h4 { color:rgb(125, 127, 132);
                padding: 20px 0;
                  }

.Albums-Recently,
.Creato-to-John-Doe,
.Artisti-Popolari { padding: 0 20px;}



.Albums-row {display: flex;
             flex-wrap: wrap;
             gap:15px; 
              }


.Album   {display: flex;
          flex-direction: column;
          align-items: center;}


.Album-img img  {  object-fit: cover;
                   width:100%; 
                }

.circle {border-radius: 100%;
        overflow:hidden;}

.Album .Title { color:white;
                font-weight: bold;
                padding: 10px 0;
                font-size: 12px;}


.Album .Sub-Title { font-size:10px;
                    color:rgb(125, 127, 132);
                    padding-bottom: 10px;
                     }


/************************************************
* Classi aside
************************************************/

.aside-logo img{ width: 70%;}


.home-list { padding: 15px 0;}

.home-list ul li a img {width: 14%;
                        color: rgb(210, 210, 210);
                        vertical-align:middle;
                        padding-right: 5px;
                        padding-bottom: 10px;}


.home-list ul { list-style-type: none; }

.home-list ul li a {text-decoration: none;
                    color:rgb(117, 119, 124);
                    font-weight: bold;
                    font-size: 12px;
                    }                       

.lateraLine-green:before { content: "";
                           height: 30px;
                           width: 3px;
                           background-color: lawngreen;
                           position: absolute;
                           left: -1px;
                           display: none;}



/* Aside ccentral */

aside h3 {color:white;
          padding-bottom:15px}


.aside-nav-central .aside-nav-central-top a { text-decoration: none;
                                              color: rgb(117, 119, 124);
                                              text-decoration: none;
                                              font-weight: bold;
                                              font-size: 25px;}



.aside-nav-central .aside-nav-central-top a span {padding-left: 5px;                                             
                                                  font-size: 16px;
                                                 line-height: 30px;}
                                                 
                                                 
   /*   Un alternativa all'utilizzo delle icone di Font Awesome per il Plus

.aside-nav-central-top .add-list{ display: inline-flex;}

.aside-nav-central-top .plus {color: black;
                             text-align: center;
                             font-size: 40px;
                             line-height: 30px;
                             background-color: grey;
                             width: 30px; 
                             height: 30px;
                             }
    */   

.aside-nav-central-list {max-height: 75%; 
                         overflow: auto;}

.aside-nav-central-list ul {list-style-type: none;}              

.aside-nav-central-list ul a {text-decoration: none;
                              color: rgb(117, 119, 124);
                              text-decoration: none;
                              font-weight: bold;
                              font-size: 12px;}


/* Aside inferiore */

.user-install a { color: rgb(117, 119, 124);
                 text-decoration: none;
                 font-weight: bold;
                 font-size: 12px;
                 padding-bottom: 10px;
                 border-bottom: 1px solid rgb(210, 210, 210);}

.user-install img { width: 10%;
                    vertical-align: middle;
                    padding-right: 5px;
                   }

.user-identity { padding-top: 20px;}

.user-identity img { width: 10%;
                     background-color: rgb(128,128,128);
                     border-radius: 100%;
                     vertical-align: middle;
                     padding: 1px;
                     }

.user-identity span { color:white;
                      font-weight: bold;
                      font-size: 12px;
                      padding-left: 5px;
}

/************************************************
* Classi FOOTER
************************************************/
.footer-conteiner { display: flex;
                    }


.footer-central{flex-grow: 1;
                flex-shrink: 0;
                padding: 10px;
                text-align: center;
}

/* Footer left-Album */

.footer-left {display:flex;
              align-items: center;
              padding: 10px 5px;
              text-decoration: none;}


.footer-left img {width: 40px}

.song-name h3 { color: white;
                font-size: 13px;
               padding-left: 10px;
               }

.song-name p { color: rgb(117, 119, 124);
                font-size: 11px;
                padding-left: 10px;
               }

.footer-left a {text-decoration: none;}

.song-save {padding-left: 15px }

.song-save a{ padding-left: 20px;
              color: rgb(117, 119, 124);}

.controller .player_btn ul li {
                      display: inline-block;
                      padding: 0 10px;
                      font-size: 14px;
                      vertical-align: middle;
                    }
/* Footer controller */                   
                    
.controller .player_btn ul li a {
                display: inline-block;
                color:white;
              }
                         
                          
.player_time {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

.player_time .time_point {
                color: white;
                font-size: 12px;
                padding-right: 20px;
              }
.time_barr {
                height: 4px;
                border-radius: 4px;
                background-color: white;
                cursor: pointer;
                flex-grow: 1;
              }



.player_time .end-time {
                color:white;
                font-size: 12px;
                padding-left: 20px;
              }
/* Footer-right Controler */

.footer-right {width: 20%;
              display:flex;
              align-items: center;
              padding: 10px 5px;
              text-decoration: none;
              
              }
.footer-right ul {display: inline-block;}

.footer-right ul li {list-style-type: none;
                     padding: 0, 10px;}

.footer-right ul li a {color: white;
                        padding: 0 5px;}

.volume {width: 100%;}
.volume .volume_list {
                height: 100%;
                display: flex;
                align-items: center;
                
              }

.volume .volume_list .livello_volume {
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

.volume_barr {
  height: 4px;
  border-radius: 4px;
  background-color: grey;
  cursor: pointer;
  flex-grow: 1;
}

.volume_barr .green_barr {
  position: relative;
  height: 100%;
  width: 20%;
  border-radius: 4px;
  background-color: white; }


  .volume_barr .volume_point {
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    display: none;
  }

  .volume_barr:hover .volume_point {
    display: block;
  }
  
  
  .volume_barr:hover .green_barr {
    background-color:greenyellow
  }


/************************************************
* Classi hover
************************************************/


/* Tasto in alto upgrade */

.conteiner-nav ul li:hover .line-green:after{display: initial;}

/* NAV-BAR superiore */

.conteiner-nav ul li :hover  {color: white;}

.conteiner-top-btn-right span:hover {color:lawngreen;
                                     border-color: lawngreen;
                                     font-size: 14px;}
/* Aside list  */

.home-list ul li:hover .lateraLine-green:before{display: initial;}


.home-list ul li :hover,
.user-install a :hover   {color: white;}


/* Central play list */

.aside-nav-central-list ul a:hover {color: white;}


/* Add playlist */

.add-list a:hover {color: white;}


/* Do all'icona (svg) del download un colore simile al testo con un filtro*/
.user-install img {filter: contrast(0.1);}

.user-install img:hover {filter: contrast(1);}

/*  hover tasto play quando vado sull'album*/
/* posiziono l'icona di player */

.Album{display: inline-block;
       text-align: center;}

.Album-img {position: relative;}

/* Creo l'icona di pleyer è gli dò la posizione assoluta */

.Album .Album-img .img_layover {
                    font-size: 70px;
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    display: none;
                    z-index: 80;
}
/* Fa apparire un cursore sull'immagine */
.Album:hover {
  cursor: pointer;
}
/* Rende l'immagine opaca quando ci passo su con il mouse */
.Album:hover .Album-img img {
  opacity: 0.5;
}
/* Rende visibile l'icona */
.Album:hover .Album-img .img_layover {
  display: block;
}


/* Per il player la linea della posizione e il pallino  */
.barr-position {
  position: relative;
  height: 100%;
  width: 20%;
  border-radius: 4px;
  background-color: white;
}

.barr_point {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

.time_barr:hover .barr_point {
  display: block;
}


.time_barr:hover .barr-position {
  background-color:greenyellow
}

/* Per il tasto del play che diventa più grande  */
.play-btn  a  { font-size: 25px;
  transition: 0.2s;}

.player_btn .play-btn a:hover {transform: scale(1.3);}



/************************************************
* media queries xs size
************************************************/

@media screen and (max-width: 559px) { 

aside { min-width: 50px;}

.d-xs-no { display: none;}

/* Ho il gap di 15px ne tolgo uno di 7.5*/
.Album {max-width: calc(100% / 2 - 7.5px );}


.aside-nav-sup, .aside-nav-sub {text-align: left;}


.aside-logo .logo-small {display: initial;
                         width: 50%;}



.home-list ul li a img {width: 55%;}

.footer-right { width: 25%; }

.user-install img,
.user-identity img {width: 35%;}

.song-name h3,
.volume .volume_list .livello_volume a { font-size: 14px}

.song-name p {font-size:12px;}

.song-save { font-size: 14px;}

.footer-left img { width: 22px;}

.song-name h3,
.song-name p,
.song-save, 
.song-save a { padding-left: 5px;}

 
               
}

  








/************************************************
* media queries large size
************************************************/

@media screen and (min-width: 920px) { 

.Album {max-width: calc(100% / 6 - 15px );
} /* il gap è di 15px */


.aside-logo img{ width: 70%;}

.aside-logo .logo-small {display: none;}

}


/************************************************
* media queries md sx  
************************************************/

@media screen and (min-width: 560px) and (max-width: 919px) { 
  .aside-logo .logo-small {display: none;}

  .Album {max-width: calc(100% / 4 - 15px );
  } /* il gap è di 15px */

  .aside-nav-central .aside-nav-central-top a span 
  { font-size: 11px;}

  .conteiner-nav { font-size: 15px; }

}